
<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增店铺</h4>
            </div>
            <form name="add_form"  id="shop_form" method="post">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_name" class="control-label">店铺名称:</label>
                                <input type="text" class="form-control" name="shop_name" id="shop_name" value="" placeholder="请输入店铺名" />
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="logo" class="control-label">Logo:</label>
                                <input type="text" class="form-control" name="logo" id="logo" value="" placeholder="请输入Logo"/>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="principal" class="control-label">负责人:</label>
                                <input type="text" class="form-control" name="principal" id="principal" value="" placeholder="请输入负责人姓名"/>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="principal_tel" class="control-label">负责人电话:</label>
                                <input type="text" class="form-control" name="principal_tel" id="principal_tel" value="" placeholder="请输入负责人电话"/>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="legal_name" class="control-label">法人:</label>
                                <input type="text" class="form-control" name="legal_name" id="legal_name" value="" placeholder="请输入法人姓名"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="business_url" class="control-label">营业执照:</label>
                                <input type="text" class="form-control" name="business_url" id="business_url" value="" placeholder="请输入营业执照"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address" class="control-label">详细地址:</label>
                                <input type="text" class="form-control" name="address" id="address" value="" placeholder="请输入详细地址"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="img1" class="control-label">店铺图片:</label>
                                <input type="text" class="form-control" name="img1" id="img1" value="" placeholder="请输入店铺图片"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="content" class="control-label">图文信息:</label>
                                <input type="text" class="form-control" name="content" id="content" value="" placeholder="请输入图文信息"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal add -->
