<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxwl.platform.dao.ShopMapper">
    <resultMap id="ShopResultMap" type="com.zxwl.platform.bean.Shop">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
            <result property="shopName" column="shop_name" javaType="String" jdbcType="VARCHAR"/>
            <result property="principal" column="principal" javaType="String" jdbcType="VARCHAR"/>
            <result property="principalTel" column="principal_tel" javaType="String" jdbcType="VARCHAR"/>
            <result property="legalName" column="legal_name" javaType="String" jdbcType="VARCHAR"/>
            <result property="businessUrl" column="business_url" javaType="String" jdbcType="VARCHAR"/>
            <result property="address" column="address" javaType="String" jdbcType="VARCHAR"/>
            <result property="areaId" column="area_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="brandId" column="brand_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" javaType="String" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" javaType="String" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="lastChangeUser" column="last_change_user" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ShopResultMap'"/>
        <bind name="tableName" value="'t_shop'"/>
    </sql>
    <insert id="insert" parameterType="com.zxwl.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.zxwl.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.zxwl.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="ShopResultMap">
        select * from t_shop where u_id=#{id}
    </select>

    <select id="select" parameterType="com.zxwl.web.bean.common.QueryParam" resultMap="ShopResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.zxwl.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
